<a href="https://colab.research.google.com/github/shaalu2408-pixel/Python-module-4/blob/main/Python_Assignment_2_Data_Structures_List%2C_Dictionary%2C_Set_%26_Conditional_Statements_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Structures - List, Dictionary, Set
& Conditional Statements

List (Creation, Modification and Access)

1. List Creation:

a. Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]

In [ ]:
age_list = [24,25,26,27,28]
print(age_list)

[24, 25, 26, 27, 28]

b. Create a list named name_list with five string elements.

In [ ]:
name_list = ["Mooviya","Sainash","Dhruvik","Madan","Latha"]
print(name_list)

['Mooviya', 'Sainash', 'Dhruvik', 'Madan', 'Latha']

2. List Operations / Modifications:

a. Append the string "Yazhini" to name_list.

In [ ]:
name_list.append("Yazhini")
print(name_list)

['Mooviya', 'Sainash', 'Dhruvik', 'Madan', 'Latha', 'Yazhini']

b. Insert the element 30 at index 2 in age_list.

In [ ]:
age_list.insert(2, 30)
print(age_list)

[24, 25, 30, 30, 26, 27, 28]

 c. Remove the string "Yazhini" from name_list.

In [ ]:
name_list.remove("Yazhini")
print(name_list)

['Mooviya', 'Sainash', 'Dhruvik', 'Madan', 'Latha']

d. Pop the last element from age_list.

In [ ]:
age_list.pop(6)
print(age_list)

[24, 25, 30, 30, 26, 27]

e. Extend the age_list with additional ages [29, 30, 26].

In [ ]:
age_list.extend([29,30,26])
print(age_list)

[24, 25, 30, 30, 26, 27, 29, 30, 26]

f. Sort age_list in descending order.

In [ ]:
age_list.sort(reverse = True)
print(age_list)

[30, 30, 30, 29, 27, 26, 26, 25, 24]

g. Find Max age, Min age and sum of all ages from age_list.

In [ ]:
maximum = max(age_list)
print(max(age_list))

30

In [ ]:
minimum = min(age_list)
print(min(age_list))

24

In [ ]:
age_list = [30, 30, 30, 29, 27, 26, 26, 25, 24]
Total=sum(age_list)
print(Total)

247

3. Accessing List Elements:

a. Print the first element of name_list.

In [ ]:
name_list = ["Mooviya","Sainash","Dhruvik","Madan","Latha"]
print(name_list[0])

Mooviya

b. Print the last element of name_list.

In [ ]:
name_list = ["Mooviya","Sainash","Dhruvik","Madan","Latha"]
print(name_list[4])

Latha

c. Print the elements from index 2 to index 4 in name_list.

In [ ]:
name_list = ["Mooviya","Sainash","Dhruvik","Madan","Latha"]
print(name_list[2:5])

['Dhruvik', 'Madan', 'Latha']

d. Print the elements of name_list in reverse order.

In [ ]:
name_list = ["Mooviya","Sainash","Dhruvik","Madan","Latha"]
print(name_list[::-1])

['Latha', 'Madan', 'Dhruvik', 'Sainash', 'Mooviya']

Dictionary (Creation, Modification and Access):

a. Create a dictionary named student_marks that maps the names of five
students to their marks (use scale of from 0 to 100).

In [ ]:
student_marks = {"Mooviya":98,"Sainash":89,"Dhruvik":77,"Madan":69,"Latha":50}
print(student_marks)

{'Mooviya': 98, 'Sainash': 89, 'Dhruvik': 77, 'Madan': 69, 'Latha': 50}

b. Access and print the mark of a specific student, of your choice.

In [ ]:
student_marks["Sainash"]

89

c. Add a new student "Janani" with a mark of 80 to the student_marks dictionary.

In [ ]:
student_marks["Janani"]=80
print(student_marks)

{'Mooviya': 98, 'Sainash': 89, 'Dhruvik': 77, 'Madan': 69, 'Latha': 50, 'Janani': 80}

d. Update the mark of any one older student to 82.

In [ ]:
student_marks["Madan"]=82
print(student_marks)

{'Mooviya': 98, 'Sainash': 89, 'Dhruvik': 77, 'Madan': 82, 'Latha': 50, 'Janani': 80}

e. Use the keys(), values(), and items() methods to print all keys, values, and
key-value pairs in the student_marks dictionary.

In [ ]:
print("keys:",student_marks.keys())
print("values:",student_marks.values())
print("items:",student_marks.items())

keys: dict_keys(['Mooviya', 'Sainash', 'Dhruvik', 'Madan', 'Latha', 'Janani'])
values: dict_values([98, 89, 77, 82, 50, 80])
items: dict_items([('Mooviya', 98), ('Sainash', 89), ('Dhruvik', 77), ('Madan', 82), ('Latha', 50), ('Janani', 80)])

Sets (Operations):

a. Create a set called my_set with following values:    
['a','e','i','o','u','a','a','i']
Analyse the output and provide explanation for the same.

In [ ]:
my_set = ['a','e','i','o','u','a','a','i']
unique_my_set = set(my_set)
print(unique_my_set)

{'e', 'u', 'a', 'o', 'i'}

Explanation :  Set removes duplicate values so repeated 'a' and 'i' comes once at a time. set is unordered so values inside the set may interchange.

b. Attempt to change the value of my_set[4] = 's'. If code throws an error, provide
an explanation.

In [ ]:
my_set[4]='s'
print(my_set)

['a', 'e', 'i', 'o', 's', 'a', 'a', 'i']

c. Create two sets:  
               set1 with values: {1, 3, 5, 7, 9}  
                set2 with values: {2, 3, 5, 8, 10}

In [ ]:
set1 = {1,3,5,7,9}
set2 = {2,3,5,8,10}
print(set1)
print(set2)

{1, 3, 5, 7, 9}
{2, 3, 5, 8, 10}

d. Compute and print the union and intersection of set1 and set2.

Union

In [ ]:
set_union = set1 | set2
print(set_union)

{1, 2, 3, 5, 7, 8, 9, 10}

Intersection

In [ ]:
set_intersection = set1 & set2
print(set_intersection)

{3, 5}

Operators & Conditional Statements :
(IF, ELIF, ELSE)

Performance Category Program:
1. Prompt user for Input. Score range should be from 0 to 10 (both inclusive).

In [ ]:
score =int(input ("Enter a score between 0 to 10:"))
if score <0 or score >10:
  print("Enter a valid score(0-10)")
else:
    print("Valid score!")

Enter a score between 0 to 10:8
Valid score!

2. Find the performance category based on the input score using following criteria:
a. Above Average:  Score greater than 7
b. Average: Score between 4 and 7(both inclusive)
c. Below Average: Score lesser than 4

In [ ]:

score = int(input("Enter a score between 0-10:"))
if  score <0 or score>10:
       print("Enter a valid score between 0-10:")
elif score > 7 :
        print("Above average")
elif score >=4 and score <=7:
        print("Average")
else:
        print("Below average")

Enter a score between 0-10:9
Above average

3. Output: Print the Performance category

In [ ]:
score = int(input("Enter a score between 0-10:"))
if  score <0 or score>10:
       print("Enter a valid score between 0-10:")
elif score > 7 :
        performance = "Above average"
elif score >=4 and score <=7:
        performance = "Average"
else:
        performance = "Below average"

print("performance category:", performance)

Enter a score between 0-10:3
performance category: Below average

4. Additional Step: You can give a prompt of your choice to each category.  
For eg: If score below average “Need to Improve your performance, consistent
practice will lead to better results”.

In [ ]:
score = int(input("Enter a score between 0-10:"))
if  score <0 or score>10:
       print("Enter a valid score between 0-10:")
elif score > 7 :
        print("Above average, Excellent work!, Hard work shows in your progress!,Good keep it up")

elif score >=4 and score <=7:
        print("Average, Superb work!, Little bit hardwork needs!, keep on work")

else:
        print("Below average, Work hard!, Keep on try to increase your performance!, Read, Read,Read")

Enter a score between 0-10:10
Above average, Excellent work!, Hard work shows in your progress!,Good keep it up