<a href="https://colab.research.google.com/github/shaalu2408-pixel/Python-module-4/blob/main/Python_Assignment_1_Data_Structures_Strings_%26_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRINGS (CONCENTATION, SILICING AND OTHER METHODS)

1. STRING CONCATENATION

 string 1 “Hello ”, string 2 get name as input from the user and concatenates them together.Display the concatenated string as
the output

In [ ]:
String1="Hello "
String2=input("Enter Your Name:")
Output=String1+String2
print(Output)

Enter Your Name:zara
Hello zara

Now concatenate string 3 “, welcome to Python programming” to the existing string and
display the output string

In [ ]:
String3=", Welcome To Python Programming"
Output=Output+ ""+(String3)
print(Output)

Hello zara, Welcome To Python Programming

2. STRING SLICING AND INDEXING

Print the first character of the string.

In [ ]:
Output [0]

'H'

Print the last character of the string.

In [ ]:
Output [40]

'g'

Print the first 5 characters of the string.

In [ ]:
Output [0:5]

'Hello'

Print the last 11 characters of the string.

In [ ]:
Output [30:]

'Programming'

Print the string in reverse.

In [ ]:
Output [::-1]

'gnimmargorP nohtyP oT emocleW ,araz olleH'

Use slicing and print the word “Python” from the existing string.

In [ ]:
Output[23:29]

'Python'

3. STRING METHODS

Python program that takes a string, strM = “Python beginner tutorial”

In [ ]:
strM = "Python beginner tutorial"
print(strM)

Python beginner tutorial

Convert the sentence to uppercase

In [ ]:
strM.upper()

'PYTHON BEGINNER TUTORIAL'

Convert the sentence to lowercase.

In [ ]:
strM.lower()

'python beginner tutorial'

Use Capitalize and return the sentence to the original input form.

In [ ]:
strM.capitalize()

'Python beginner tutorial'

Count the total number of occurrences of character ‘t’  in the string.

In [ ]:
strM.count('t')

3

Replace all occurrences of “Python” with “Machine Learning”  in the input string
strM = “Python beginner tutorial”

In [ ]:
strM.replace("Python","Machine Learning")

'Machine Learning beginner tutorial'

TUPLES (CREATION, MODIFICATION AND ACCESS)

Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60)

In [ ]:
Tuple1st=(10,20,30)
print(Tuple1st)
type(Tuple1st)

(10, 20, 30)

tuple

In [ ]:
Tuple2nd=(40,50,60)
print(Tuple2nd)
type(Tuple2nd)

(40, 50, 60)

tuple

Concatenate the two tuples and store it in “t_combine”

In [ ]:
T_combine=Tuple1st+Tuple2nd
print(T_combine)

(10, 20, 30, 40, 50, 60)

Repeat the elements of “t_combine” 3 times

In [ ]:
(T_combine)*3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

Access the 3rd element from “t_combine”

In [ ]:
T_combine[2]

30

Access the first three elements from “t_combine”

In [ ]:
T_combine[0:3]

(10, 20, 30)

Access the last three elements from “t_combine”

In [ ]:
T_combine[3:]

(40, 50, 60)